<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Phage</Name>
    <Version>1.1</Version>
    <Title>Phage setup wizard</Title>
    <Publisher>Faceless Men</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>Phage</StartMenuDir>
    <TargetDir>@ApplicationsDir@/Phage</TargetDir>
</Installer>
